* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
 
}

body {
  max-width: 100%;
  overflow-x: hidden;
  
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  
}


.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.secondary-button {
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100px;
  bottom: auto;
  padding: 30px 55px;
  gap: 30px;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;

}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -1650px;
  z-index: -2;
  width: 150%;
  height: 10;
  filter: blur(4px);
}

.primary-heading {
  font-size: clamp(1rem, 4vw, 5rem);
  color: white;
  line-height: 5rem;
  max-width: 600px;
  text-align: left;
  margin-left: 500px;
  margin-top: 110px;
  

}

.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.about-section-text-container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 850px;
}
.primary-subheading {
  display: flex;
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}

.about-primary-heading {
  display: flex;
  font-weight: 700;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 500px;
  width: 50%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 50%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.contact-primary-heading {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}
.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: white;
}

.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  margin-right: 1.5rem;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 550;
  color: white;
  cursor: pointer;
}

.Grandmother {
  background: linear-gradient(to right, #9C00FF 0%, #2A0087 100%);
}

@media (max-width: 800px) {
  .contact-form-container {
    padding: 1rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .secondary-button {
    max-width: 100%;
    padding: 2rem;
    margin-bottom: 1rem !important;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .home-bannerImage-container {
    right: -25%;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .primary-heading {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .about-section-text-container {
    max-width: 100%;
    margin-left: 0;
    font-size: small;
    text-align: right;
  }

}
